# Data Science Tools and Ecosystem

## Author: 
Johnston Kirimo

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Popular Languages for DataScience
- Commonly Used Libraries
- Open Source Data Science Tools
- Examples of Arithmetic Expressions

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. PyTorch
5. Scikit-learn

## 
| Data Science Tools |
|-----------------|
| R Studio |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200 
hours = 200//60
hours

3